{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}

<h2>Sectoral Dashboard</h2>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Number of days Indices trending Up or Down
    </div>
    <br>
    <form method="GET" action="{% url 'dashboard' %}">
      {% if selected_ema == '20' %}
      <div class="row">
        {% for sector in sector_data %}
        {% for ema_count in ema_counts %}
        {% if sector.symbol == ema_count.stock_data.symbol %}
        <div class="col-md-3 mb-3">
          <div class="card {% if ema_count.ema20_output > 0 %}card-positive{% else %}card-negative{% endif %}">
            <div class="card-body">
              <h5 class="card-title">{{ sector.symbol }}</h5>
              <p class="card-text">{{ ema_count.ema20_output }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
  
      {% if selected_ema == '50' %}
      <div class="row">
        {% for sector in sector_data %}
        {% for ema_count in ema_counts %}
        {% if sector.symbol == ema_count.stock_data.symbol %}
        <div class="col-md-3 mb-3">
          <div class="card {% if ema_count.ema50_output > 0 %}card-positive{% else %}card-negative{% endif %}">
            <div class="card-body">
              <h5 class="card-title">{{ sector.symbol }}</h5>
              <p class="card-text">{{ ema_count.ema50_output }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}

      {% if selected_ema == '100' %}
      <div class="row">
        {% for sector in sector_data %}
        {% for ema_count in ema_counts %}
        {% if sector.symbol == ema_count.stock_data.symbol %}
        <div class="col-md-3 mb-3">
          <div class="card {% if ema_count.ema100_output > 0 %}card-positive{% else %}card-negative{% endif %}">
            <div class="card-body">
              <h5 class="card-title">{{ sector.symbol }}</h5>
              <p class="card-text">{{ ema_count.ema100_output }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}

      {% if selected_ema == '200' %}
      <div class="row">
        {% for sector in sector_data %}
        {% for ema_count in ema_counts %}
        {% if sector.symbol == ema_count.stock_data.symbol %}
        <div class="col-md-3 mb-3">
          <div class="card {% if ema_count.ema200_output > 0 %}card-positive{% else %}card-negative{% endif %}">
            <div class="card-body">
              <h5 class="card-title">{{ sector.symbol }}</h5>
              <p class="card-text">{{ ema_count.ema200_output }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      <form method="GET" action="{% url 'dashboard' %}">
        <span class="select" style="border:2px solid #6c757d;background:#6c757d;color:white;padding:7px;border-radius:8px">
          <label for="selected_ema"></label>
          <select name="ema" id="selected_ema" onchange="this.form.submit()" style="background-color:#6c757d;border-radius:8px;color:white">
            <option value="20" {% if selected_ema == '20' %}selected{% endif %}>Ema 20</option>
            <option value="50" {% if selected_ema == '50' %}selected{% endif %}>Ema 50</option>
            <option value="100" {% if selected_ema == '100' %}selected{% endif %}>Ema 100</option>
            <option value="200" {% if selected_ema == '200' %}selected{% endif %}>Ema 200</option>
          </select>
        </span>
      </form>
    </form>
  </div>
</div>

<br>
<div class="container">
  <div class="graph-container">
  <div class="card">
    <div class="card-header">
      Number of Days since the Sectors are up or down
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <canvas id="sectorChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('sectorChart').getContext('2d');
    var sectorChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for sector in sector_data %}'{{ sector.symbol }}',{% endfor %}],
        datasets: [{
          label: 'RS Output Value',
          data: [{% for rs_value in rs_values %}{{ rs_value }},{% endfor %}],
          backgroundColor: [{% for rs_value in rs_values %}{% if rs_value > 0 %}'rgba(0, 255, 0, 0.2)',{% else %}'rgba(255, 0, 0, 0.2)',{% endif %}{% endfor %}],
          borderColor: [{% for rs_value in rs_values %}{% if rs_value > 0 %}'rgba(0, 255, 0, 1)',{% else %}'rgba(255, 0, 0, 1)',{% endif %}{% endfor %}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'RS Output Value'
            },
            ticks: {
              beginAtZero: true
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Symbol'
            }
          }]
        }
      }
    });
  });
</script>

<!-- Include the DataTables CSS file -->
<link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include the DataTables JavaScript file -->
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    // Initialize the DataTable
    $('#interactive-table').DataTable();
  });
</script>
<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Multiple EMA (Candle closing above EMA) and RSI Data
    </div>
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="interactive-table">
        <thead>
          <tr>
            <th style="width: 16.66%;">Sector</th>
            <th style="width: 16.66%;">EMA 20</th>
            <th style="width: 16.66%;">EMA 50</th>
            <th style="width: 16.66%;">EMA 100</th>
            <th style="width: 16.66%;">EMA 200</th>
            <th style="width: 16.66%;">RSI</th>
          </tr>
        </thead>
        <tbody>
          {% for sector in sector_data %}
          <tr>
            <td>{{ sector.symbol }}</td>
            <td style="text-align: center; font-weight: bold; padding: 8px; color: {% if sector.ema20 > sector.close_price %}#155724{% else %}#721c24{% endif %}; background-color: {% if sector.ema20 > sector.close_price %}#dff0d8{% else %}#f8d7da{% endif %};">{% if sector.ema20 > sector.close_price %}<span style="color: #155724;">Buy &#8593;</span>{% else %}<span style="color: #721c24;">Sell &#8595;</span>{% endif %}</td>
            <td style="text-align: center; font-weight: bold; padding: 8px; color: {% if sector.ema50 > sector.close_price %}#155724{% else %}#721c24{% endif %}; background-color: {% if sector.ema50 > sector.close_price %}#dff0d8{% else %}#f8d7da{% endif %};">{% if sector.ema50 > sector.close_price %}<span style="color: #155724;">Buy &#8593;</span>{% else %}<span style="color: #721c24;">Sell &#8595;</span>{% endif %}</td>
            <td style="text-align: center; font-weight: bold; padding: 8px; color: {% if sector.ema100 > sector.close_price %}#155724{% else %}#721c24{% endif %}; background-color: {% if sector.ema100 > sector.close_price %}#dff0d8{% else %}#f8d7da{% endif %};">{% if sector.ema100 > sector.close_price %}<span style="color: #155724;">Buy &#8593;</span>{% else %}<span style="color: #721c24;">Sell &#8595;</span>{% endif %}</td>
            <td style="text-align: center; font-weight: bold; padding: 8px; color: {% if sector.ema200 > sector.close_price %}#155724{% else %}#721c24{% endif %}; background-color: {% if sector.ema200 > sector.close_price %}#dff0d8{% else %}#f8d7da{% endif %};">{% if sector.ema200 > sector.close_price %}<span style="color: #155724;">Buy &#8593;</span>{% else %}<span style="color: #721c24;">Sell &#8595;</span>{% endif %}</td>
            <td style="text-align: center; font-weight: bold; padding: 8px; color: {% if sector.rsi >= 50 %}#155724{% else %}#721c24{% endif %}; background-color: {% if sector.rsi >= 50 %}#dff0d8{% else %}#f8d7da{% endif %};">{% if sector.rsi >= 50 %}<span style="color: #155724;">Buy &#8593;</span>{% else %}<span style="color: #721c24;">Sell &#8595;</span>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock %}
