{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
        
    
    <br>
    <h2 class="text-center">Sectors Trends Last 20 days  </h2><br>
    <div class="table-responsive table-bordered">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center"> Dates\Stock  </th>
            <th class="text-center">Dec 20</th>
            <th class="text-center">Dec 19</th>
            <th class="text-center">Dec 18</th>
            <th class="text-center">Dec 17</th>
            <th class="text-center">Dec 16</th>
            <th class="text-center">Dec 15</th>
            <th class="text-center">Dec 14</th>
            <th class="text-center">Dec 13</th>
            <th class="text-center">Dec 12</th>
            <th class="text-center">Dec 11</th>
            <th class="text-center">Dec 10</th>
            <th class="text-center">Dec 9</th>
            <th class="text-center">Dec 8</th>
            <th class="text-center">Dec 7</th>
            <th class="text-center">Nov 6</th>
            <th class="text-center">Nov 5</th>
            <th class="text-center">Nov 4</th>
            <th class="text-center">Nov 3</th>
            <th class="text-center">Nov 2</th>
            <th class="text-center">Nov 1</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sample Data - Replace with your data -->
          <tr>
            <td class="text-center"> NIFTY 50 </td>
            <td class="positive text-center">13</td>
            <td class="positive text-center">12</td>
            <td class="positive text-center">11</td>
            <td class="positive text-center">10</td>
            <td class="positive text-center">9</td>
            <td class="positive text-center">8</td>
            <td class="positive text-center">7</td>
            <td class="positive text-center">6</td>
            <td class="positive text-center">5</td>
            <td class="positive text-center">4</td>
            <td class="positive text-center">3</td>
            <td class="positive text-center">2</td>
            <td class="positive text-center">1</td>
            <td class="negative text-center">-12</td>
            <td class="negative text-center">-11</td>
            <td class="negative text-center">-10</td>
            <td class="negative text-center">-9</td>
            <td class="negative text-center">-8</td>
            <td class="negative text-center">-7</td>
            <td class="negative text-center">-6</td>
          </tr>
      
          <tr>
            <td class="text-center"> NIFTY IT </td>
            <td class="positive text-center">11</td>
            <td class="positive text-center">10</td>
            <td class="positive text-center">9</td>
            <td class="positive text-center">8</td>
            <td class="positive text-center">7</td>
            <td class="positive text-center">6</td>
            <td class="positive text-center">5</td>
            <td class="positive text-center">4</td>
            <td class="positive text-center">3</td>
            <td class="positive text-center">2</td>
            <td class="positive text-center">1</td>
            <td class="negative text-center">-14</td>
            <td class="negative text-center">-13</td>
            <td class="negative text-center">-12</td>
            <td class="negative text-center">-11</td>
            <td class="negative text-center">-10</td>
            <td class="negative text-center">-9</td>
            <td class="negative text-center">-8</td>
            <td class="negative text-center">-7</td>
            <td class="negative text-center">-6</td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>



{% endblock %}